/* Removing margin and padding from all objects specially for nav menus on the top */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Robotdo, "Arial";
    background-color: #eee;
}

/* I don't know exactly why this one */
#page-wrapper {
    position: relative;
}

/* Fix the position and apply flex.
        flex direction row for PC or wide tablet view
        height is considered by spacer later on so layers don't step on each other.
        justify content space-between to make space between the two columns.
        Background so you don't see objects behind transparent menu tags while scrolling.
        z-index so videos to show on top of the menu background */
header {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 46px;
    background-color: #eee;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

/* setting proportions for space for logo*/
#logo-wrapper {
    width: 25%;
    background-color: #eee;
}

/* Float to the left and size of the logo*/
#header-img {
    float: left;
    width: 200px;
}

/* setting propotions of space for menu*/
#nav-bar {
    /*background-color: blue;*/
    width: 75%;
}

/* Put the whole group of links of the menu on the right side*/
#nav-bar ul {
    float: right;
}

/*border to make a gap between buttons
        display inline-block so they are all in one line
        padding to center the text by making the button bigger
        */
#nav-bar ul a li {
    border-width: 10px;
    display: inline-block;
    padding: 10px;
    background-color: #e97033;
    color: #eee;
}

/* on hover changes color of the button
        The button has been placed Inside the links so the link will take the whole surface of the button and not only the text and when you hover you can apply the change to color and background with only styling */
#nav-bar ul a li:hover {
    background-color: white;
    color: #e97033;
}

/* removing the decoration dots */
#nav-bar ul a {
    text-decoration: none;
}

/*Makes space so main div doesn't clash with the header */
.spacer {
    width: 100%;
    height: 80px;
}

main {
    /*background-color: aqua;            */
}

/* Common properties for different sections in the page */
.section {
    width: 80%;
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px 10px 10px;
    /* background-color: blanchedalmond; */
}

h2 {
    margin-top: 20px;
    text-align: center;
    font-style: italic;
}

#form {
    text-align: center;
    background-color: lightgrey;
}

.form-group {
    padding: 5px;
}

/* Styles for the Submit button.
        */
.form-group input[type=submit] {
    padding: 5px;
    background-color: #e97033;
    color: #eee;
    border: 0;
    box-shadow: 0 0 3px #000, 0 0 3px #000;
}

/* I didn't get to know how to change the properties on submit or onclick without using JavaScript'*/
.form-group input[type=submit]:hover {
    background-color: #e78c5f;
}

#email {
    width: 200px;
    max-width: 60%;
}

/* TOP CODE OF THE PROJECT!!
        It scrolls slightly down so when you click on a section it doesn't get covered by the menu '*/
.anchor {
    display: block;
    height: 110px;
    /*same height as header or a bit more*/
    margin-top: -110px;
    /*same height as header*/
    visibility: hidden;
}

.anchor-2 {
    display: block;
    height: 110px;
    /*same height as header or a bit more*/
    margin-top: -110px;
    /*same height as header*/
    visibility: hidden;
}

.content-list {
    list-style-type: none;
    /*background-color: aquamarine;*/
}

.content-list li {
    padding: 5px;
    /* background-color: aqua;*/
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
    margin-left: 30px;
}

i {
    /* background-color: blue; */
    width: 75px;
    height: 75px;
    background-size: 75px 75px;
    margin-right: 10px;
    display: block;
    vertical-align: middle;
    float: left;
}

.i-media {

    background-image: url(https://www.bachataspice.com/images/external/multimedia-icon.png);
}

.i-events {
    background-image: url(https://www.bachataspice.com/images/external/events-icon.png);
}

.i-web {
    background-image: url(https://www.bachataspice.com/images/external/website-icon.png);
}

.i-photo {
    background-image: url(https://www.bachataspice.com/images/external/photography-icon.png);
}

.i-video {
    background-image: url(https://www.bachataspice.com/images/external/cameraman-icon.png);
}

#video-header {
    padding: 20px 0px 10px 0px;
    text-align: center;
}

.video-div {
    text-align: center;
    width: 80%;
    /*background-color: palegreen;*/
    margin-left: auto;
    margin-right: auto;
}

#video {
    width: 100%;
}

#container-box {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    /*background-color: goldenrod;*/
    width: 100%;
}

.price-box {
    background-color: lightgrey;
    width: 34%;
    text-align: center;
    margin: 5px;
}

.price-box h3 {
    background-color: darkslategrey;
    width: 100%;
    text-align: center;
    color: white;
}

.price-box h4 {
    padding: 10px;
    /* text-shadow: 0 0 3px #000;*/
    font-size: 1.5em;
}

.price-box p {
    padding: 5px;
}

.price-box div {
    margin: 20px 0 20px 0;
    /*background-color: lightpink;*/
    position: relative;
    bottom: 0p;
}

.price-box div a {
    background-color: #e97033;
    margin-bottom: 0px;
    padding: 10px;
    text-decoration: none;
    color: #eee;
}

#logo {
    width: 30%;
    max-width: 200px;
    min-width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    /* background-color: lightyellow;*/
}

footer p {
    margin-top: 10px;
    text-align: center;
}

@media (max-width: 610px) {

    /* Changing the menu to an one column content */
    header {
        flex-direction: column;
    }

    /* Now the menu buttons will take the whole width */
    #logo-wrapper {
        /*background-color: aquamarine;*/
        width: 100%;
        margin: 0;

    }

    /* The header image will take 60% of the width.
            It may be necessary to review for phone display.
            Removed float so it doesn't go left or right.
            And applied Display block + margin left and right to aouto to center the image' */
    #header-img {
        width: 60%;
        /*background-color: green;*/
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #nav-bar {
        /*background-color: blue;*/
        width: 100%;
    }

    #nav-bar ul {
        float: none;
    }

    /* centring the buttons and, for some reason, removing the decoration again from the links. */
    #nav-bar ul a li {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        text-decoration: none;
    }

    /* The menu now is higher so the spacer has to grow too */
    .spacer {
        height: 170px;
    }

    /* Also the anchor has to grow */
    .anchor {
        height: 260px;
        /*same height as header or a bit more*/
        margin-top: -260px;
        /*same height as header*/
    }

    .anchor-2 {
        height: 220px;
        /*same height as header or a bit more*/
        margin-top: -220px;
        /*same height as header*/
    }
}

@media (max-width: 635px) {
    #container-box {
        padding-top: 10px;
        flex-direction: column;
        /* background-color: goldenrod;*/
        width: 100%;
    }

    .price-box {
        width: 90%;
        margin: 10px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}
